In [1]:
import pandas as pd

In [2]:
may_19 = pd.read_csv("data/JC-201905-citibike-tripdata.csv")
june_19 = pd.read_csv("data/JC-201906-citibike-tripdata.csv")
july_19 = pd.read_csv("data/JC-201907-citibike-tripdata.csv")
aug_19 = pd.read_csv("data/JC-201908-citibike-tripdata.csv")
sept_19 = pd.read_csv("data/JC-201909-citibike-tripdata.csv")

may_20 = pd.read_csv("data/JC-202005-citibike-tripdata.csv")
june_20 = pd.read_csv("data/JC-202006-citibike-tripdata.csv")
july_20 = pd.read_csv("data/JC-202007-citibike-tripdata.csv")
aug_20 = pd.read_csv("data/JC-202008-citibike-tripdata.csv")
sept_20 = pd.read_csv("data/JC-202009-citibike-tripdata.csv")
sept_20.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,222,2020-09-01 00:15:58.6470,2020-09-01 00:19:40.8750,3186,Grove St PATH,40.719586,-74.043117,3276,Marin Light Rail,40.714584,-74.042817,45656,Subscriber,1992,1
1,193,2020-09-01 00:49:00.7370,2020-09-01 00:52:14.3640,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,45352,Subscriber,1991,1
2,273,2020-09-01 00:51:44.5870,2020-09-01 00:56:17.7160,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,44424,Subscriber,1969,1
3,1419,2020-09-01 00:52:48.3160,2020-09-01 01:16:28.0490,3203,Hamilton Park,40.727596,-74.044247,3270,Jersey & 6th St,40.725289,-74.045572,42240,Subscriber,1986,1
4,254,2020-09-01 00:56:16.7170,2020-09-01 01:00:31.0870,3194,McGinley Square,40.725340,-74.067622,3679,Bergen Ave,40.722104,-74.071455,42434,Subscriber,1992,1

In [74]:
combined_df = pd.concat([may_19,june_19,july_19,aug_19,sept_19,may_20,june_20,july_20,aug_20,sept_20])
combined_df['date'] = pd.to_datetime(combined_df['starttime']).dt.date
combined_df['month'] = pd.to_datetime(combined_df['starttime']).dt.month
combined_df['year'] = pd.to_datetime(combined_df['starttime']).dt.year
combined_df.head(50)

combined_df.to_csv(r'data/full_data.csv', index = False)

# Trip Duration grouped by Station start and end Month and year

In [73]:
duration_df = combined_df
duration_df = duration_df.drop(columns=['starttime', 'stoptime', 'bikeid', 'gender'])
trip_duration = duration_df.groupby(['start station id','end station id', 'month', 'year'],).agg({'start station id':['size'], 'tripduration': ['mean'], })
new_duration = trip_duration.reset_index() 
new_duration.head(50)

   start station id end station id month  year start station id  tripduration
                                                           size          mean
0              3183            311     5  2019                1   1571.000000
1              3183           3183     5  2019               39   1983.230769
2              3183           3184     5  2019               39    325.564103
3              3183           3185     5  2019               30    258.200000
4              3183           3186     5  2019               57    433.631579
5              3183           3187     5  2019               49    313.020408
6              3183           3192     5  2019               46    911.173913
7              3183           3193     5  2019                5   1148.000000
8              3183           3194     5  2019                5   1136.400000
9              3183           3195     5  2019                6   1803.166667
10             3183           3196     5  2019                1   1284.000000
11             3183           3198     5  2019                6   1146.000000
12             3183           3199     5  2019               53   1684.962264
13             3183           3201     5  2019                3   1493.333333
14             3183           3202     5  2019               38    611.263158
15             3183           3203     5  2019               24    659.916667
16             3183           3205     5  2019               15   1508.000000
17             3183           3206     5  2019                4   1481.750000
18             3183           3207     5  2019                3   1998.000000
19             3183           3209     5  2019                4    530.250000
20             3183           3210     5  2019                1   1114.000000
21             3183           3211     5  2019               33   2404.333333
22             3183           3212     5  2019                1    885.000000
23             3183           3213     5  2019               20    513.000000
24             3183           3214     5  2019               90    296.655556
25             3183           3220     5  2019                3   1323.666667
26             3183           3225     5  2019               10   1046.700000
27             3183           3267     5  2019              149    332.315436
28             3183           3268     5  2019                7    742.142857
29             3183           3269     5  2019                9    699.111111
30             3183           3270     5  2019                9    628.777778
31             3183           3272     5  2019               13    585.923077
32             3183           3273     5  2019               14    374.928571
33             3183           3275     5  2019               10    231.700000
34             3183           3276     5  2019               98    551.816327
35             3183           3277     5  2019                1   1229.000000
36             3183           3278     5  2019               15    714.800000
37             3183           3279     5  2019                9    469.111111
38             3183           3281     5  2019                9   1557.444444
39             3183           3426     5  2019                1   1325.000000
40             3183           3481     5  2019               24    255.875000
41             3183           3483     5  2019                4    567.250000
42             3183           3638     5  2019               56   1240.803571
43             3183           3639     5  2019               38    274.684211
44             3183           3640     5  2019                5   1544.400000
45             3183           3677     5  2019                1   1336.000000
46             3183           3678     5  2019                4   1315.500000
47             3183           3681     5  2019               52    233.153846
48             3184            195     7  2019                1  19965.000000
49             3184            327     5  2019                1    810.000000

In [64]:
trip_duration.to_csv(r'data/trip_duration.csv', index = False)